

<nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top ">
   
<a routerLink="/home">
<img src="https://fontmeme.com/permalink/201127/405a38582b1189a113a2ef7f5432a4b0.png" alt="pokemon-font" id="logo" > </a> 
   
  
  
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button> 
     
     <div class="collapse navbar-collapse" id="navbarNav">
  
      <ul class=" navbar ">
    
     
         <a routerLink = "/home">   <i class="fa fa-home" style="font-size:40px;color:red"></i></a> 


        
          

  
         <a class="nav-link active" routerLink="/search"><i class="fa fa-search" style="font-size:40px;color:#FFCC03"></i></a>
   

              

    </ul>
    </div>
        </nav>
<router-outlet></router-outlet>
